.btn-tweet{
    background: $main-color;
    border-radius: 20px;
    font-weight: bold !important;
    font-size: 14px;
    padding: 6px 15px 6px 15px;
    border: 0px;
}

.btn-tweet:hover{
    background: darken($main-color,10); 
}