// Color
$main-color: #1da1f2;
$body-color: #e6ecf0;
$primary-link-color: #37a1e3;
$helper-color: #657786;
$helper-color-black: #000;
$white-color: #fff;
$navbar-register-color: linear-gradient(to right, #58aee9 ,#36cc97);
$register-placeholder-color: #aab8c2;