body{
    background: $body-color;
}

.white-body{
    background: $white-color !important;
}

.primary-link{
    color: $primary-link-color;
}

.primary-link:hover{
    color: $primary-link-color;
}

.jumbotron{
    background: #fff;
    border: 1px solid #d4d8da;
    padding-bottom: 0px;
}