body{
    background: $body-color;
}

.primary-link{
    color: $primary-link-color;
}

.primary-link:hover{
    color: $primary-link-color;
}

.jumbotron{
    background: #fff;
    border: 1px solid #d4d8da;
}